In [ ]:
# datatypes in python
'''
Numeric
      Integer
      Float
      Imagnary number
Sequence Type
      String
      List
      Touple
Boolean
Set
Dictionary'''

'\nNumeric\n      Integer\n      Float\n      Imagnary number\nSequence Type\n      String\n      List\n      Touple\nBoolean\nSet\nDictionary'

In [ ]:
type(1) #type fn return the datatype of parameter

int

In [ ]:
print(type(1.0))

<class 'float'>

In [ ]:
print(type("1.0"))

<class 'str'>

In [ ]:
10/2   #this return float in float value

5.0

In [ ]:
2**3    #return 3rd power of 2

8

In [ ]:
4%2   #return remainder after 4 divided by 2

0

In [ ]:
x=1   #initialize a variable
x_y=3
x+x_y

4

In [ ]:
"i don't like that"   #in double quote we can usse single one.

"i don't like that"

In [ ]:
'''i don't like that'''

'i don"t like that'

In [ ]:
'''i don"t like that'''

'i don"t like that'

In [ ]:
print("My name is {}".format("Bose"))  #use of .format() fn.
print("My name is".format('Bose'))
print("My name is {}, my no is {}".format('Bose',10)) # here order in format matter
print("My name is {x}, my no is {y}".format(y='10',x='Bose')) #here order don't matter

My name is Bose
My name is
My name is Bose, my no is 10
My name is Bose, my no is 10

In [ ]:
[1,2,3]   # List of integer

[1, 2, 3]

In [ ]:
['a','b','c'] # list of character or string

['a', 'b', 'c']

In [ ]:
[1,'a',2,'b'] # List of missed datatype

[1, 'a', 2, 'b']

In [ ]:
mylist = ['a','b','c']  #list is like array
# index   0    1   2
# index  -3   -2  -1
print(mylist,type(mylist),type(mylist[0]))
print(mylist[0],mylist[-3])
mylist[0]="praksh";
print(mylist[0],mylist[-3])
mylist.append(345)  #this will append 345 in ind of list.
print(mylist)
mylist.insert(2,[1,2,3,7])  #insert at any position of list.
print(mylist,mylist[2][-1]) #this will take the elemt of matrix.

['a', 'b', 'c'] <class 'list'> <class 'str'>
a a
praksh praksh
['praksh', 'b', 'c', 345]
['praksh', 'b', [1, 2, 3, 7], 'c', 345] 7

In [ ]:
d={'key1':'value1','key2':'value2' }    #dictionary
print(d['key2'])
print(d)  #order could be arbitrary
d['key2']='prakash' # update
x=d.keys()  #return all keys of dic.
print(x)  #print all keys name.
y=d.values()  #return all values
print(y)  #print all values
print(d.items())  # return all items

value2
{'key1': 'value1', 'key2': 'value2'}
dict_keys(['key1', 'key2'])
dict_values(['value1', 'prakash'])
dict_items([('key1', 'value1'), ('key2', 'prakash')])

In [ ]:
#tuple
t= (1,2,3) #one you created can't you change its value(immutable)
# it is like list with immutality
print(t)
print(t[0])

(1, 2, 3)
1

In [ ]:
# set contains only unique values
s={1,1,3,2,4,1,2,3}
print(s)

{1, 2, 3, 4}

In [ ]:
#operator
print(1!=2)
print(1 == 1)
print( (1 == 2) and ('a' == 'a') ) # more readable using and like it
print( 1 ==1 and 'a' =='a' and 'c'=='c')  # we can use and operator like it also
print( (1 == 2) or ('a' == 'a') ) # similarly for or

True
True
False
True
True

In [ ]:
# conditional operation
if 1==1:
  print('yra!')
if(1==2):
  print("yes")
elif 1==4:
    print("2sond")
else:
  print("no")

yra!
no

In [ ]:
# for loop
seq=[1,2,3,4,5]
for x in seq :
  print(x*x)

1
4
9
16
25

In [ ]:
# while loop
i=1
while i<5 :
  print("i is {}".format(i))
  i=i+1;

i is 1
i is 2
i is 3
i is 4

In [ ]:
# range
# range(stop) ->range object
print(range(5))   #output --> range(0,5)
print(list(range(5))) # it will exclude the stop number
#range(start,stop)
  # 2 will decide the step 
for y in range(5,34,7):
  print(y)
print(list(range(0,10,2)))
for t in range(55,34,-7):
  print(t)

range(0, 5)
[0, 1, 2, 3, 4]
5
12
19
26
33
[0, 2, 4, 6, 8]
55
48
41

In [ ]:
x = [1,2,3,4,5]
out = []
for num in x :
  out.append(num**2)
print(out)
# for loop apprehensive of the code written above
list = [ y**2 for y in x]
print(list)

[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25]

In [ ]:
# define fn in pyton
def my_fun(): # we don't need to define return type
  print("fn with no argument")
my_fun()
def fn(name):
  print("'with on argument'", name );
fn("prakash")
def square(x):
  return x**2
result = square(5)
print(result,type(result))
# lambda expression of a fn ex the above sqaure fn but we can call it only once.
lambda var : var**3

fn with no argument
'with on argument' prakash
25 <class 'int'>

In [ ]:
# String
str="Hello My Name Is Prakash"
print(str)
print(str.split()) #by default it split on whitespace
print(str.upper())
print(str.split("a"))
print(str.lower())
print(str.split(" ")[-1])

Hello My Name Is Prakash
['Hello', 'My', 'Name', 'Is', 'Prakash']
HELLO MY NAME IS PRAKASH
['Hello My N', 'me Is Pr', 'k', 'sh']
hello my name is prakash
Prakash

In [6]:
mylist = [1,2,3,4]
print(mylist)
print(mylist.pop())   #pop remove the last element from the list
print(mylist.pop(0))    #we can pass index of removing element
print('x' in mylist)    # boolean operator in
i=2
print(2 in mylist,i in mylist)

[1, 2, 3, 4]
4
1
False
True True